[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
xhtml2pdf = "*"
python-dotenv = "*"
django-cors-headers = "*"
certifi = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
